* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
}

.name h1 {
color: #333333;
font-size: 19.42px;
font-weight: 300;
margin-top: 50px;
    float: left;
}
.name a{
   text-decoration: none;
   color:#333333;
}


header:after {
    content:"";
    display: table;
    clear: both;
}


.cf:after {
    content:"";
    display: table;
    clear: both;
}

header {
    height: 150px;
    width: 890px;
    margin: 0 auto;
    position: relative;
}


.name:hover ~ .highlightbox {
   background: #FFFF33;
}

.highlightbox{
   position: absolute;
   top: 59px;
   left: -8px;
   height: 10px;
   width: 170px;
   z-index: -10;
}

.space{
   margin-left: -11px;
}

.yellow:hover{
   background: #FFFF33;
}


#logo {
    maring-right: 30px;
    display: inline-block;
}


#main-menu {
    float: right;
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    padding-top: 50px;

}

#main-menu li {
    display: inline-block;
    margin-right: 30px;
   -webkit-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}

#main-menu a {
      display: block;
      color: black;
      text-decoration: none;
}
#main-menu ul li a:hover li{
   background: #FFFF33;
}


.headerbox {
    height:5px;
    width: 75px;
    background-color: #FFFF33;
}
.headerbox3 {
    height:5px;
    width: 75px;
    background-color: #f2f2f2;
}

.headerbox2 {
    height:5px;
    width: 45px;
    background-color: #FFFF33;
}

.box {
    margin: 0 auto;
    width: 920px;

}
.imagebox {
    list-style: none;
}

.imagebox a{
    display: block;
    line-height: 12px;
}

.imagebox li:hover .gray {
 opacity: .8;
}

.imagebox li {
    float: left;
    border: solid 15px transparent;
    height: auto;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.imagebox li:hover {
   border: solid 15px #FFFF33;

}




.image1 {
    margin-bottom: 20px;
    margin-right: 20px;
}

.image1 img{
   height: 248px;
   width: auto;
}

.image2 {
    margin-bottom: 20px;
}

.image2 img{
   height: 248px;
   width: auto;
}

.image3 {
    margin-bottom: 20px;
    margin-right: 20px;
}

.image3 img{
   height: 250px;
   width: auto;
}

.image4 {
    margin-bottom: 20px;
    margin-right: 20px;
}

.image4 img{
   height: 250px;
   width: auto;
}

.image5 {
    margin-bottom: 20px;
}

.image5 img{
   height: 250px;
   width: auto;
}

.image6 {
    margin-bottom: 20px;
    margin-right: 20px;
}

.image6 img{
   height: 269px;
   width: auto;
}

.image7 {
    margin-bottom: 20px;
    height: 269px;
    width: auto;
}
.image7 img{
   height: 269px;
   width: auto;
}

.image8 {
    margin-bottom: 20px;
    margin-right: 20px;
}
.image8 img{
   height: 230px;
   width: auto;
}

.image9 {
     margin-bottom: 20px;
    margin-right: 20px;
}
.image9 img{
   height: 230px;
   width: auto;
}

.image10 {
    margin-bottom: 20px;
    height: 230px;
    width: auto;
}
.image10 img{
   height: 230px;
   width: auto;
}

.image11 {
    margin-bottom: 20px;
    margin-right: 20px;

}
.image11 img{
   height: 262px;
   width: auto;
}

.image12 {
    margin-bottom: 20px;
}
.image12 img{
   height: 262px;
   width: auto;
}

.overlay1 {
    position: relative;
}

.gray {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}




.contentcontainer {
    position: relative;
     width: 890px;
    height: 800px;
    margin: 0 auto;

}

.textbox {
   display: inline-block;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 369px;
    height: 100%;
    background-color: #333333;
    float: left;
}


.textbox_mobile{
   display: none;
}



.textbox a {
   color: #f2f2f2;
   font-size: 19px;
   font-weight: 300;
   text-decoration: none;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
}

.textbox a:last-child{
   font-size: 18px;
}


.textbox a:hover{
   color: #FFFF33;
}

h3 {
     color: #f2f2f2;
    font-size: 19px;
    font-weight: 300;
    margin-top: 50px;
    margin-left: 18px;
    /*display: inline;*/
}

.textbox h3 a:hover{
   color: #FFFF33;
}

.textbox h1 {
    color: #f2f2f2;
    font-size: 19.42px;
    font-weight: 300;
    padding-top: 100px;
    padding-left: 18px;
}

.textbox h4 {
    color: #f2f2f2;
    font-size: 12px;
    font-weight: 300;
    padding-top: 25px;
    padding-left: 18px;
}




.showcase {
    width: 500px;
    float: right;
}

.textboxline {
    color: #f2f2f2;
    padding-left: 18px;
    margin-top: 25px;
    margin-left: 18px;
    margin-right: 18px;
}

.textbox p {
 color: #f2f2f2;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.6em;
    padding-top: 25px;
    padding-left: 18px;
    padding-right: 18px;
}



.sustainabilityimages img {
    /*margin-left: 10px;*/
    margin-top: 25px;
}


.line {
     color: #f2f2f2;
    padding-left: 18px;
    margin-right: 25px;
}



.spacingattop {
    margin-bottom: 180px;
}

.project {

}
.project img {
   width: 500px;
   height: auto;
   padding-bottom: 35px;
}

.project video {
   padding-bottom: 35px;
}

.project h4 {
   color: #333333;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 25px;
}


.leftarrowbox {
    position: fixed;
    display: block;
    left: 0;
    top: 50vh;
    padding-left: 15px;
    padding-top: 17px;
    /*margin-top: -15px;*/
    height: 50px;
    width: 50px;
    z-index: 10;
    background-color: #f2f2f2;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.leftarrowbox:hover {
   background-color: #333333;
}
.navarrow {
   height: 15px;
   height: auto;
   -webkit-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}

.navfill{
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}
.leftarrowbox:hover polygon.navfill {
   fill: #ffffff;

}

.leftarrowbox:hover .navarrow{
   -webkit-transform: scale(1.3);
           transform: scale(1.3);

}

.rightarrowbox {
    position: fixed;
    display: block;
    padding-left: 14px;
    padding-top: 17px;
    right: 0;
    top: 50vh;
    height: 50px;
    width: 50px;
    z-index: 10;
    background-color: #f2f2f2;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.rightarrowbox:hover {
   background-color: #333333;
}
.rightarrowbox:hover polygon.navfill {
   fill: #ffffff;
}

.rightarrowbox:hover .navarrow{
   -webkit-transform: scale(1.3);
           transform: scale(1.3);
}

.aboutwrapper{
   width: 890px;
   margin: 0 auto;
}
.aboutwrapper img {
   width: 500px;
   height: auto;
   float: left;
   margin-right: 40px;
   margin-bottom: 40px;
}
.abouttext{
   margin-left: 30px;
   font-size: 14px;
   font-weight: 300;
   line-height: 1.6em;

}

.abouttext > h1{
   font-size: 18px;
   color: #333333;
}
.abouttext > h4{
   margin-top: 25px;
   font-size: 12px;
   font-weight: 300;
   color: #333333;
}
.abouttext a{
   text-decoration: none;
   color: #333333;
}
.abouttext a:hover{
   color: #FFFF33;
}

.abouttext > p:last-child{
   font-weight: 400;
   padding-top: 25px;
}

.aboutboxline{
   color: #f2f2f2;
   padding-left: 18px;
   margin: 25px 18px 25px 18px;

}

.booktitle {
    font-style: italic;
}



.videowidth {
    width: 500px;
    height: auto;
}

.footer{
   text-align: right;
   height: 60px;
   width: 890px;
   margin: 0 auto;
   font-size: 12px;
   font-weight: 300;
   color: #333333;
   vertical-align: baseline;
}
.footer > p {
   float: right;
}

.footer img {
   padding-right: 10px;
   height: 20px;
   width: auto;
   float: right;
}

.footer svg {
   padding-right: 10px;
   height: 20px;
   width: auto;
   float: right;
}

.footergallery{
   text-align: right;
   height: 60px;
   width: 100%;
   margin: 0 auto;
   font-size: 12px;
   font-weight: 300;
   color: #333333;
}
.footergallery > p {
   float: right;
}

.footergallery svg {
   padding-right: 10px;
   height: 20px;
   width: auto;
   float: right;
}

.svgfill{
   -webkit-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}

a:hover .svgfill{
   fill: #FFFF33;
}

@media (max-width: 600px) {


   header {
       height: 150px;
       width: 90vw;
       margin: 0 auto;
       position: relative;
   }
   .name h1 {
   color: #333333;
   font-size: 19.42px;
   font-weight: 300;
   margin-top: 50px;
   float: none;
   }

   #main-menu {
       float: none;
       color: #333333;
       font-size: 12px;
       font-weight: 400;
       padding-top: 50px;

   }

   .box {
       margin: 0 auto;
       width: 100vw;

   }

   .imagebox li {
       float: none;
       border: solid 15px transparent;
       height: auto;
       -webkit-transition: all .2s ease-in-out;
       transition: all .2s ease-in-out;
   }

   .image1 {
       margin-bottom: 20px;
       margin-right: 2vw;
       margin-left: 2vw;
   }

   .image1 img{
      height: auto;
      width: 90vw;
   }

   .image2 {
       margin-bottom: 20px;
   }

   .image2 img{
      height: auto;
      width: 90vw;
   }

   .image3 {
       margin-bottom: 20px;
       margin-right: 20px;
   }

   .image3 img{
      height: auto;
      width: 90vw;
   }

   .image4 {
       margin-bottom: 20px;
       margin-right: 20px;
   }

   .image4 img{
      height: auto;
      width: 90vw;
   }

   .image5 {
       margin-bottom: 20px;
   }

   .image5 img{
      height: auto;
      width: 90vw;
   }

   .image6 {
       margin-bottom: 20px;
       margin-right: 20px;
   }

   .image6 img{
      height: auto;
      width: 90vw;
   }

   .image7 {
       margin-bottom: 20px;
   }
   .image7 img{
      height: auto;
      width: 90vw;
   }

   .image8 {
       margin-bottom: 20px;
       margin-right: 20px;
   }
   .image8 img{
      height: auto;
      width: 90vw;
   }

   .image9 {
        margin-bottom: 20px;
       margin-right: 20px;
   }
   .image9 img{
      height: auto;
      width: 90vw;
   }

   .image10 {
       margin-bottom: 20px;

   }
   .image10 img{
      height: auto;
      width: 90vw;
   }

   .image11 {
       margin-bottom: 20px;
       margin-right: 20px;

   }
   .image11 img{
      height: auto;
      width: 90vw;
   }

   .image12 {
       margin-bottom: 20px;
   }
   .image12 img{
      height: auto;
      width: 90vw;
   }

   .footer{
      text-align: right;
      height: 60px;
      width: 100%;
      margin: 0 auto;
      font-size: 12px;
      font-weight: 300;
      color: #333333;
      vertical-align: baseline;
   }

   .contentcontainer {
       position: relative;
        width: 100vw;
       height: auto;
       margin: 0 auto;
   }
   .textbox {
      display: none;
       position: relative;
       top: 0;
       overflow: hidden;
       width: 90vw;
       height: 100%;
       background-color: #333333;
       float: none;
   }

.textbox_mobile{
      display: inline-block;
      color: #333333;
}
.textbox_mobile a{
   color: #333333;
   text-decoration: none;
}
.textbox_mobile h1{}
.textbox_mobile h3{}
.textbox_mobile h4{}

   .showcase {
       width: 90vw;
       float: none;
   }
   .project img {
      width: 90vw;
      height: auto;
      padding-bottom: 35px;
   }
  }
